# SQLite 3 Basic commands

In [ ]:
#!pip install sqlite3 #Install SQLite 3 on Phyton

In [1]:
# Remove the file with SQLite database (if exists)
import os
os.remove("marvel.db") if os.path.exists("marvel.db") else None

In [2]:
import sqlite3

#### Create connection
Creation of connection and cursos

In [3]:
# Crieate connection
conn = sqlite3.connect('marvel.db')   

# Criate cursor
c = conn.cursor()

#### Create table

Creation of table T_ACTORS. The table contains:
* ACT_ID: data identifier
* ACT_NAME: Actor or Actress name
* ACT_AGE: Actor or Actress age
* ACT_GEN: Actor or Actress gender
* ACT_CHARACTER: Character played by the actor

In [4]:
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS T_ACTORS(ACT_ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, ACT_NAME TEXT, '\
              'ACT_AGE INTEGER, ACT_GEN CHAR, ACT_CHARACTER)')

#### Insert function

In [5]:
def data_insert(actor):
    c.execute("INSERT INTO T_ACTORS VALUES('{}','{}', '{}', '{}', '{}')".
              format(actor['ACT_ID'],
                     actor['ACT_NAME'], 
                     actor['ACT_AGE'],
                     actor['ACT_GEN'], 
                     actor['ACT_CHARACTER']))
    conn.commit()
    #c.close()
    #conn.close()

#### Read function

In [6]:
# Leitura de dados
def read_all():
    c.execute("SELECT * FROM T_ACTORS")
    for linha in c.fetchall():
        print(linha)

In [7]:
def read_where(where):
    c.execute("SELECT * FROM T_ACTORS WHERE {}".format(where))
    for linha in c.fetchall():
        print(linha)

#### Update function

In [8]:
def update(actor):
    c.execute("UPDATE T_ACTORS SET ACT_NAME = '{}', ACT_AGE = {}, ACT_GEN = '{}', ACT_CHARACTER = '{}' WHERE ACT_ID = {}".
    format(actor['ACT_NAME'], 
            actor['ACT_AGE'], 
            actor['ACT_GEN'], 
            actor['ACT_CHARACTER'], 
            actor['ACT_ID']))
    conn.commit()

#### Delete function

In [9]:
def delete(id):
    c.execute("DELETE FROM T_ACTORS WHERE ACT_ID = {}".format(id))
    conn.commit()

#### Insert some data

In [12]:
create_table()

In [13]:
actorsList = [{ 'ACT_ID': 1, 'ACT_NAME': 'Robert Downey Jr.', 'ACT_AGE': 56, 'ACT_GEN': 'M', 'ACT_CHARACTER': 'Iron Man'},
              { 'ACT_ID': 2, 'ACT_NAME': 'Chris Evans', 'ACT_AGE': 40, 'ACT_GEN': 'M', 'ACT_CHARACTER': 'Capitain America'},
              { 'ACT_ID': 3, 'ACT_NAME': 'Chris Hemsworth', 'ACT_AGE': 38, 'ACT_GEN': 'M', 'ACT_CHARACTER': 'Thor'},
              { 'ACT_ID': 4, 'ACT_NAME': 'Chris Pratt', 'ACT_AGE': 42, 'ACT_GEN': 'M', 'ACT_CHARACTER': 'Peter Quill'},
              { 'ACT_ID': 5, 'ACT_NAME': 'Paul Rudd', 'ACT_AGE': 52, 'ACT_GEN': 'M', 'ACT_CHARACTER': 'Ant man'},
              { 'ACT_ID': 6, 'ACT_NAME': 'Benedict Cumberbatch', 'ACT_AGE': 45, 'ACT_GEN': 'M', 'ACT_CHARACTER': 'Dr. Strange'},
              { 'ACT_ID': 7, 'ACT_NAME': 'Tom Holland', 'ACT_AGE': 25, 'ACT_GEN': 'M', 'ACT_CHARACTER': 'Spider Man'},
              { 'ACT_ID': 8, 'ACT_NAME': 'Scarlet Johansson', 'ACT_AGE': 43, 'ACT_GEN': 'M', 'ACT_CHARACTER': 'Black Panther'},
              { 'ACT_ID': 9, 'ACT_NAME': 'Chadwich Boseman', 'ACT_AGE': 37, 'ACT_GEN': 'F', 'ACT_CHARACTER': 'Black Widow'},
              { 'ACT_ID': 10, 'ACT_NAME': 'Elizabeth Olsen', 'ACT_AGE': 32, 'ACT_GEN': 'F', 'ACT_CHARACTER': 'Wanda Maximoff'}]

In [14]:
for actor in actorsList:
    data_insert(actor)

#### Testing functions

In [18]:
actor = {
    'ACT_ID': 5,
    'ACT_NAME': 'Mark Ruffalo',
    'ACT_AGE': 54,
    'ACT_GEN': 'M',
    'ACT_CHARACTER': 'Hulk'
}

In [22]:
read_all()

(1, 'Robert Downey Jr.', 56, 'M', 'Iron Man')
(2, 'Chris Evans', 40, 'M', 'Capitain America')
(3, 'Chris Hemsworth', 38, 'M', 'Thor')
(4, 'Chris Pratt', 42, 'M', 'Peter Quill')
(5, 'Mark Ruffalo', 54, 'M', 'Hulk')
(6, 'Benedict Cumberbatch', 45, 'M', 'Dr. Strange')
(8, 'Scarlet Johansson', 43, 'M', 'Black Panther')
(9, 'Chadwich Boseman', 37, 'F', 'Black Widow')
(10, 'Elizabeth Olsen', 32, 'F', 'Wanda Maximoff')

In [17]:
read_where("ACT_NAME like '%Chris%'")

(2, 'Chris Evans', 40, 'M', 'Capitain America')
(3, 'Chris Hemsworth', 38, 'M', 'Thor')
(4, 'Chris Pratt', 42, 'M', 'Peter Quill')

In [19]:
update(actor)

In [21]:
delete(7)